.scroll{
    scroll-behavior: smooth;
}

.cardwidth{
    width: 18rem;
}
.my-info{
    background-color: #0B4350;
    width: 80%;
    color: white;
    box-shadow: 0px 2px 6px #0b4350;
    overflow: hidden;
    margin: auto;
}
.image-style{
    overflow: hidden;
    width: 100%;
    border-radius: 30%;
}
.first-section{
    padding: 90px 90px 0px 90px;
}
.skills{
    width: 90%;
    background-color: #0B4350;
    padding: 10px;
    box-shadow: 0px 2px 6px #0b4350;
}
.headerAndFooter{
    width: 100%;
    background-color: #0B4350;

}
.font{
    font-style: italic;
}
.background-btn{
    background-color: #0B4350;
    color: white;
}
.btn:hover {
    background-color: #0B4350 !important;
    color: white;
    
}
.text-col{
   background-color: white;
}